mixin about(modifier)
  section.about&attributes(attributes)
    ul.about__list
      li.about__item
        .about__icon-box: img.about__icon(src="img/about-icon1.png", alt="")
        p.about__text $8.2mln<br>fundraising for startups
      li.about__item
        .about__icon-box: img.about__icon(src="img/about-icon2.png", alt="")
        p.about__text Top Rater<br>on service exchanges
      li.about__item
        .about__icon-box: img.about__icon(src="img/about-icon3.png", alt="")
        p.about__text 10+ years<br>work experience
      li.about__item
        .about__icon-box: img.about__icon(src="img/about-icon4.png", alt="")
        p.about__text 5,000 slides<br>was created