mixin pricelist(modifier)
  section.pricelist&attributes(attributes)#price
    .pricelist__area
      h2.pricelist__title Fix the price of the project and start discussing now
      ul.pricelist__container.owl-carousel
        li.pricelist__info
          .pricelist__heading
            h3.pricelist__category-title Name of the category
            a.pricelist__link(href="#discuss")
              | Discuss the project
              include ./img/price-icon.svg
          ul.pricelist__content
            li.pricelist__item
              p.pricelist__service Name of the service
              p.pricelist__service Price
            li.pricelist__item
              p.pricelist__service Name of the service
              p.pricelist__service Price
            li.pricelist__item
              p.pricelist__service Name of the service
              p.pricelist__service Price
        li.pricelist__info
          .pricelist__heading
            h3.pricelist__category-title Name of the category
            a.pricelist__link(href="#discuss")
              | Discuss the project
              include ./img/price-icon.svg
          ul.pricelist__content
            li.pricelist__item
              p.pricelist__service Name of the service
              p.pricelist__service Price
            li.pricelist__item
              p.pricelist__service Name of the service
              p.pricelist__service Price
            li.pricelist__item
              p.pricelist__service Name of the service
              p.pricelist__service Price
            li.pricelist__item
              p.pricelist__service Name of the service
              p.pricelist__service Price
            li.pricelist__item
              p.pricelist__service Name of the service
              p.pricelist__service Price
        li.pricelist__info
          .pricelist__heading
            h3.pricelist__category-title Name of the category
            a.pricelist__link(href="#discuss")
              | Discuss the project
              include ./img/price-icon.svg
          ul.pricelist__content
            li.pricelist__item
              p.pricelist__service Name of the service
              p.pricelist__service Price
            li.pricelist__item
              p.pricelist__service Name of the service
              p.pricelist__service Price
            li.pricelist__item
              p.pricelist__service Name of the service
              p.pricelist__service Price
            li.pricelist__item
              p.pricelist__service Name of the service
              p.pricelist__service Price
        li.pricelist__info
          .pricelist__heading
            h3.pricelist__category-title Name of the category
            a.pricelist__link(href="#discuss")
              | Discuss the project
              include ./img/price-icon.svg
          ul.pricelist__content
            li.pricelist__item
              p.pricelist__service Name of the service
              p.pricelist__service Price
            li.pricelist__item
              p.pricelist__service Name of the service
              p.pricelist__service Price
            li.pricelist__item
              p.pricelist__service Name of the service
              p.pricelist__service Price
            li.pricelist__item
              p.pricelist__service Name of the service
              p.pricelist__service Price
            li.pricelist__item
              p.pricelist__service Name of the service
              p.pricelist__service Price
            li.pricelist__item
              p.pricelist__service Name of the service
              p.pricelist__service Price