include ../blocks/header/header.pug
include ../blocks/welcome/welcome.pug
include ../blocks/about/about.pug
include ../blocks/service/service.pug
include ../blocks/services/services.pug
include ../blocks/portfolio/portfolio.pug
include ../blocks/slide/slide.pug
include ../blocks/pricelist/pricelist.pug
include ../blocks/results/results.pug
include ../blocks/partners/partners.pug
include ../blocks/partners/partners.pug
include ../blocks/reviews/reviews.pug
include ../blocks/form/form.pug
include ../blocks/footer/footer.pug
include ../blocks/review/review.pug
include ../blocks/p-welcome/p-welcome.pug
include ../blocks/p-slide/p-slide.pug
include ../blocks/p-slider/p-slider.pug
include ../blocks/p-projects/p-projects.pug
include ../blocks/download/download.pug
include ../blocks/toppings/toppings.pug
include ../blocks/tariffs/tariffs.pug
include ../blocks/popup/popup.pug
