mixin reviews(modifier)
  section.reviews&attributes(attributes)#reviews
    h2.reviews__title We want to be №1 in achieving our clients' goals
    ul.reviews__slides.owl-carousel
      li.reviews__slide
        +review("reviews1.png", "Company Name", '"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam"')
        +review("reviews1.png", "Company Name", '"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam"')
      li.reviews__slide
        +review("reviews1.png", "Company Name", '"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam"')
        +review("reviews1.png", "Company Name", '"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam"')
      li.reviews__slide
        +review("reviews1.png", "Company Name", '"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam"')
        +review("reviews1.png", "Company Name", '"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam"')