mixin p-projects(modifier)
  .p-projects&attributes(attributes)
    +p-slider('Sales & Business & Startup Presentations', '1')
    +p-slider('Pitch deck for investors & Fundraising', '2')
    +p-slider('Education & Training & Master classes Presentations', '3')
    +p-slider('Redesign of any presentation', '4')
    +p-slider('Create Infographics & Charts & Data visualization', '5')
    +p-slider('Make animation Pitch Deck', '6')
    +p-slider('Company profile', '7')
    +p-slider('Kickstarter content & campaigns', '8')