mixin portfolio(modifier)
  section.portfolio&attributes(attributes)#portfolio
    .portfolio__area
      h1.portfolio__title We create commercially successful work
      .portfolio__slider.owl-carousel
        +slide("slide1.png", "Project 1", "Pitch deck for investors\u00A0&\u00A0Fundraising", "We have collected for you all the cases that our team has been working on in order to clearly show the quality and .the level of our work, we have collected for you all the cases that our team has been working on in order to clearly show the quality and we have collected for you all the cases that our team has been working on in order to clearly show the quality and.the level of our work")
        +slide("slide1.png", "Project 1", "Pitch deck for investors\u00A0&\u00A0Fundraising", "We have collected for you all the cases that our team has been working on in order to clearly show the quality and .the level of our work, we have collected for you all the cases that our team has been working on in order to clearly show the quality and .the level of our work")
        +slide("slide1.png", "Project 1", "Pitch deck for investors\u00A0&\u00A0Fundraising", "We have collected for you all the cases that our team has been working on in order to clearly show the quality and .the level of our work, we have collected for you all the cases that our team has been working on in order to clearly show the quality and .the level of our work")