mixin footer(modifier)
  footer.footer&attributes(attributes)
    .footer__area
      .footer__socials
        a.footer__social-link(href="#"): img.footer__social-icon(src="img/ig.png", alt="")
        a.footer__social-link(href="#"): img.footer__social-icon(src="img/fb.png", alt="")
        a.footer__social-link(href="#"): img.footer__social-icon(src="img/in.png", alt="")
      a.footer__mail-link(href="mailto:firstell@gmail.com") firstell@gmail.com

      //- .footer__column
      //-   a.footer__logo-link(href="./"): img.footer__logo(src="img/footer-logo.png", alt="Firstell")
      //-   a.footer__mail-link(href="mailto:firstell@gmail.com") firstell@gmail.com
      //- .footer__column
      //-   ul.footer__menu
      //-     li.footer__menu-item: a.footer__menu-link(href="#") Home
      //-     li.footer__menu-item: a.footer__menu-link(href="#") Service
      //-     li.footer__menu-item: a.footer__menu-link(href="#") Price
      //-     li.footer__menu-item: a.footer__menu-link(href="#") Portfolio
      //-     li.footer__menu-item: a.footer__menu-link(href="#") Reviews
      //-   .footer__row
      //-     .footer__socials
      //-       a.footer__social-link(href="#"): img.footer__social-icon(src="img/ig.png", alt="")
      //-       a.footer__social-link(href="#"): img.footer__social-icon(src="img/fb.png", alt="")
      //-       a.footer__social-link(href="#"): img.footer__social-icon(src="img/in.png", alt="")
      //-     a.footer__link-form(href="#")
      //-       | Discuss the project
      //-       include ./img/footer-btn-icon.svg