mixin services(modifier)
  section.services&attributes(attributes)#service
    h2.services__title How we can be of service to&nbsp;you
    .services__area
      +service("", "Sales & Business & Startup Presentations", "Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке.", "1")
      +service("", "Pitch deck for investors & Fundraising", "Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке.", "2")
      +service("", "Education & Training & Master classes Presentations", "Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке.", "3")
      +service("", "Redesign of any presentation", "Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке.", "4")
      +service("", "Create Infographics & Charts & Data visualization", "Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке.", "5")
      +service("", "Make animation Pitch Deck", "Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке.", "6")
      +service("", "Company profile", "Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке.", "7")
      +service("", "Kickstarter content & campaigns", "Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке.", "8")
    button.services__btn(type="button") 
      span See 
      include ./img/services-arrow.svg
      span all