mixin partners(modifier)
  section.partners&attributes(attributes)
    .partners__area
      h2.partners__title 150+ executives and top managers are satisfied with our collaboration
    .partners__content
      ul.partners__list
        li.partners__item: img.partners__logo(src="img/partners1.png", alt="Partner's logo")
        li.partners__item: img.partners__logo(src="img/partners2.png", alt="Partner's logo")
        li.partners__item: img.partners__logo(src="img/partners3.png", alt="Partner's logo")
        li.partners__item: img.partners__logo(src="img/partners4.png", alt="Partner's logo")
        li.partners__item: img.partners__logo(src="img/partners4.png", alt="Partner's logo")
        li.partners__item: img.partners__logo(src="img/partners4.png", alt="Partner's logo")
      ul.partners__list(aria-hidden=true)
        li.partners__item: img.partners__logo(src="img/partners1.png", alt="Partner's logo")
        li.partners__item: img.partners__logo(src="img/partners2.png", alt="Partner's logo")
        li.partners__item: img.partners__logo(src="img/partners3.png", alt="Partner's logo")
        li.partners__item: img.partners__logo(src="img/partners4.png", alt="Partner's logo")
        li.partners__item: img.partners__logo(src="img/partners4.png", alt="Partner's logo")
        li.partners__item: img.partners__logo(src="img/partners4.png", alt="Partner's logo")