extends ../templates/template.pug
block content
  +header
  main
    +welcome
    +about
    +download
    +services
    +toppings
    +tariffs
    +portfolio
    +pricelist
    +results
    +reviews
    +partners
    +form
  +footer
  +popup