mixin welcome(modifier)
  section.welcome&attributes(attributes)#home
    .welcome__area
      h1.welcome__title We can influent your money
      p.welcome__subtitle Сreate high-quality presentations that work for you
      a.welcome__btn(href="#") 
        | Discuss the project
        include ./img/welcome-btn-icon.svg