mixin toppings(modifier)
  section.toppings&attributes(attributes)
    h2.toppings__title Use BRIGHT TOPPINGS to fill our presentation with&nbsp;WOW-effects
    ul.toppings__list
      li.toppings__item.toppings__item--one Data visual & infographics
      li.toppings__item.toppings__item--two Marketing analysis & research
      li.toppings__item.toppings__item--three Animations<br> & <br>Interactive
      li.toppings__item.toppings__item--four Comics
      li.toppings__item.toppings__item--five Business Plan Design
    .toppings__buttons
      a.toppings__link(href="#discuss") Discuss
      a.toppings__link(href="") Portfolio