mixin download(modifier)
  section.download&attributes(attributes)
    .download__area
      img.download__image(src="img/download.png" alt="")
      .download__content
        h2.download__title Fill out the form
        p.download__subtitle get your checklist
        button.download__button(type="button") Receive