mixin p-welcome(modifier)
  section.p-welcome&attributes(attributes)
    img.p-welcome__banner(src="img/banner-portfolio.png", alt="")
    .p-welcome__area
      h1.p-welcome__title Portfolio
      p.p-welcome__subtitle Take a closer look at our projects
      a.p-welcome__link(href="#1") 
        include ./img/portfolio-arrow.svg